@import 'animations';

* {
	border: 1px solid #000;
}

body {
	background-color: #fff;
	font-family: 'Bangers', cursive;
}

.game__header {
	font-size: 60px;
	text-align: center;
	color: #000;
}

.game__buttons {
	text-align: center;

	&--ext {
		padding: 20px 0;
	}
}

.button {
	border-radius: 50%;
	width: 120px;
	height: 120px;
	border: 4px solid #000;
	background-color: transparent;
	font-size: 26px;
	color: #000;

	&--start {
		color: #66CD00;
		border-color: #66CD00;
		margin: 40px;
		padding: 0;

		&:hover {
			background-color: #66CD00;
		}
	}

	&--ext {
		color: #458B00;
		border-color: #458B00;
		margin: 40px;
		padding: 0;

		&:hover {
			background-color: #458B00;
		}
	}

	&--rock {
		color: #333;
		border-color: #333;

		&:hover {
			background-color: #333;
		}
	}

	&--lizard {
		color: #66CD00;
		border-color: #66CD00;

		&:hover {
			background-color: #66CD00;
		}
	}

	&--spock {
		color: #9A32CD;
		border-color: #9A32CD;

		&:hover {
			background-color: #9A32CD;
		}
	}

	&--paper {
		color: #ccc;
		border-color: #ccc;

		&:hover {
			background-color: #ccc;
		}
	}

	&--scissors {
		color: #79CDCD;
		border-color: #79CDCD;

		&:hover {
			background-color: #79CDCD;
		}
	}

	&:hover {
		color: #fff;
	}

	.fa {
		font-size: 50px;
	}
}

.game__comment {
	color: #fff;
	line-height: 50px;
}

.exit {
	position: absolute;
	cursor: pointer;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;

}

.weekness {
	border-color: #ff0000 !important;
	color: #ff0000 !important;
}

.strength {
	border-color: #00ff00 !important;
	color: #00ff00 !important;
}

@media (min-width: 400px) {
	.button--paper,
	.button--scissors {
		margin: 0 40px;
	}

}

